<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('发布型劳动列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>岗位名称：</label>
                                <select name="classTitle" th:with="type=${@dict.getType('sys_practice_classTitle')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>岗位单位：</label>
                                <select name="classOrg" th:with="type=${@dict.getType('sys_practice_classOrg')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>课程分类：</label>
                                <select name="classSubject" th:with="type=${@dict.getType('sys_practice_classSubject')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>联系人：</label>
                                <input type="text" name="classOwner"/>
                            </li>
                            <li>
                                <label>联系电话：</label>
                                <input type="text" name="classMobile"/>
                            </li>
                            <li>
                                <label>开始时间：</label>
                                <input type="text" class="time-input" autocomplete="off" placeholder="请选择岗位开始时间" name="classStarttime"/>
                            </li>
                            <li>
                                <label>结束时间：</label>
                                <input type="text" class="time-input" autocomplete="off" placeholder="请选择岗位结束时间" name="classEndtime"/>
                            </li>
                            <li>
                                <label>岗位学分：</label>
                                <input type="text" name="classCredit"/>
                            </li>
                            <li>
                                <label>岗位状态：</label>
                                <select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="system:practice:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.editTab()" shiro:hasPermission="system:practice:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:practice:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:practice:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:practice:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:practice:remove')}]];
        var generateFlag = [[${@permission.hasPermi('system:practice:generate')}]];
        var datas = [[${@dict.getType('sys_practice_classSubject')}]];
        var classTitle = [[${@dict.getType('sys_practice_classTitle')}]];
        var classOrg = [[${@dict.getType('sys_practice_classOrg')}]];
        var prefix = ctx + "system/practice";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "发布型劳动",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'classId',
                    title: '编号',
                    visible: false
                },
                {
                    field: 'orderNum',
                    title: '排序'
                },
                {
                    field: 'classDept',
                    title: '所属部门',
                    visible: false
                },
                {
                    field: 'classTitle',
                    title: '岗位名称',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(classTitle, value);
                    }
                },
                {
                    field: 'classSubject',
                    title: '课程分类',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'classOrg',
                    title: '岗位单位',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(classOrg, value);
                    }
                },
                {
                    field: 'classOverview',
                    title: '岗位职责',
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value, 10, "open");
                    }
                },
                {
                    field: 'classOwner',
                    title: '联系人'
                },
                {
                    field: 'classMobile',
                    title: '联系电话'
                },
                {
                    field: 'classStarttime',
                    title: '岗位开始时间'
                },
                {
                    field: 'classEndtime',
                    title: '岗位结束时间'
                },
                {
                    field: 'classCredit',
                    title: '岗位学分'
                },
                {
                    field: 'classLimit',
                    title: '容纳人数'
                },
                {
                    field: 'classApply',
                    title: '申请人数'
                },
                {
                    field: 'classLike',
                    title: '喜欢人数',
                    visible: false
                },
                {
                    visible: editFlag == 'hidden' ? false : true,
                    title: '岗位状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row);
                    }
                },
                {
                    field: 'remark',
                    title: '备注',
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value, 10, "open");
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.classId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.classId + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + generateFlag + '" href="javascript:void(0)" onclick="genQrcode(\'' + row.classId + '\')"><i class="fa fa-qrcode"></i>二维码下载</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        /* 岗位状态显示 */
        function statusTools(row) {
            if (row.status == 1) {
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.classId + '\')"></i> ';
            } else {
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.classId + '\')"></i> ';
            }
        }

        /* 岗位-停用 */
        function disable(classId) {
            $.modal.confirm("确认要取消课程吗？", function() {
                $.operate.post(prefix + "/changeStatus", { "classId": classId, "status": 1 });
            })
        }

        /* 岗位启用 */
        function enable(classId) {
            $.modal.confirm("确认要启用课程吗？", function() {
                $.operate.post(prefix + "/changeStatus", { "classId": classId, "status": 0 });
            })
        }
        /* 生成课程二维码 */
        function genQrcode(classId) {
            $.modal.confirm("确定要下载该课程二维码吗？", function() {
                location.href = prefix + "/genqrcode/" + classId;
                layer.msg('执行成功,正在生成请稍候…', { icon: 1 });
            })
        }
    </script>
</body>
</html>
