<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('视频文件列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>文件名称：</label>
                                <input type="text" name="fileName"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/media";

        $(function() {
            var options = {
                url: prefix + "/list",
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                modalName: "视频文件",
                columns: [{
                    radio: true
                },
                {
                    field: 'filePath',
                    title: '文件路径',
                    visible: false
                },
                {
                    field: 'fileUuid',
                    title: 'UUID',
                    visible: false
                },
                {
                    field: 'fileName',
                    title: '文件名称'
                },
                {
                    field: 'fileExt',
                    title: '文件后缀名',
                    visible: false
                },
                {
                    field: 'fileSize',
                    title: '文件大小(MB)'
                }]
            };
            $.table.init(options);
        });
        function getSelections() {
            return $.table.selectFirstColumns();
        }
    </script>
</body>
</html>
