<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('系统简介')" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <h2 style="text-align: center">《劳动教育课程》简介</h2>
                <p>一、劳动教育体系的总目标</p>
                <p>面向全体学生，从思想认识、情感态度、能力、习惯四个方面提出要求，牢固树立劳动最光荣、劳动最崇高、劳动最伟大、劳动最美丽的劳动价值观；掌握基本的劳动知识和技能，具有必备的劳动能力；领会“幸福是奋斗出来的”内涵与意义，继承中华民族优良传统，弘扬时代精神。培育积极的劳动精神；坚持不懈地参与劳动，养成良好的劳动习惯和品质。</p>
                <p>二、劳动教育体系的构成</p>
                <p>劳动教育体系由质量决策、劳动课程、劳动实践、劳动文化、安全保障、评估反馈6个子系统组成。它是一个逐层向下监控、逐层向上负责的“责权合一”的质量管理系统，具有校、院(部)二级教学管理体系职能。课程教学、劳动实践工作的组织、安排责任在学校、院(部)，各环节设计与实施的责任在相应院（部）。</p>
                <p>本科劳动教育的组织机构为校教学指导委员会、人文与艺术教育中心、教务处、校督导组。</p>
                <p>三、劳动教育体系各子系统的功能</p>
                <p>1.劳动教育质量决策系统。是由学校教学质量责任人——校长和主管教学副校长负责的教学质量保障决策系统。通过教学指导委员会等组织开展劳动教育决策活动，负责对相关工作进行宏观指导与管理，审定各环节的质量标准，组织协调各院(部)、职能部门按照学校的发展定位、办学理念和人才培养目标，制定本科劳动教育规划和条件建设计划。</p>
                <p>2.劳动课程系统。由人文与艺术教育中心负责并组织实施的校、院（部）两级课程教学系统，主要包括劳动教育必修课和劳动教育通识拓展课程。劳动教育必修课由8学时的理论教学和24学时的劳动实践两部分构成，共32学时。劳动实践主要包括日常生活劳动、服务性劳动、专业劳动实践，贯穿2-7学期。劳动教育通识拓展课程是劳动教育必修课程有益的必要的补充，是学生劳动能力培养的重要教学环节之一。通过对劳动通识拓展课程的学习，了解各种具体劳动的理论、方法和技能，锻炼学生独立思考、独立劳动的能力。</p>
                <p>3.劳动实践系统。是由教学教务处负责的校、院(部)两级实习教学系统。按照实习内容不同，实习教学可以分为四种形式：认识实习、课程实习、社会调查、生产（毕业）实习。由教务处、各学院在与实习单位协调配合的基础上，合理分工，精心组织，认真实施，保证实习工作顺利进行。教务处是学校实习教学工作的主管部门，负责传达贯彻上级精神、组织协调全校实习教学中的有关问题；各学院是实习教学工作的具体组织和实施单位，是实习教学工作的组织者和管理者，负责研究总结解决实习中发现的问题。具体参见《南京信息工程大学实习教学管理办法（修订）》（教发[2013]35号）。</p>
                <p>4.劳动文化系统。是由人文艺术教育中心负责组织，协调学工处（部）、团委、及各院（部）开展的校院文化建设系统。组织开展“学院劳动周”、“文明寝室”评比、劳动技能大赛，举办“劳模大讲堂”“大国工匠进校园”、优秀毕业生报告会等劳动榜样人物进校园等，形成劳动文化建设的品牌活动，将劳动习惯、劳动品质的养成教育融入校园文化建设之中，建设“大美校园+文化校园+劳动校园”，营造劳动光荣、创造伟大的校园文化。</p>
                <p>5.安全保障系统。是校、院和指导教师三级负责制的劳动教育教学安全管理系统。教务处、设备处、学生处、保卫处等，与提供劳动岗位的相关职能部门代表学校负责管理该项工作，各学院具体负责。各学院党、政主要领导是本单位劳动教育教学安全工作的第一责任人，指导教师具体负责所指导学生劳动教育教学期间的日常安全管理工作，也是劳动教育教学安全管理工作的直接责任人。</p>
                <p>6.评估反馈系统。是以校人文与艺术教育中心、教师发展与教学评估中心为主，校、院、教师和学生四级负责制的劳动教育教学质量信息收集、评估、反馈系统。由人文与艺术教育中心负责发布每学期劳动教育状态及质量测评结果，学院落实通知相关教师和学生。应做到信息及时到位，问题、责任到人。对于通过教学检查、质量抽查或其它渠道获取的劳动教育相关信息，通过文件、报告、简报或校内媒体等方式及时发布给有关教学单位和部门，必要时要召开教学信息反馈会，敦促问题尽快解决。</p>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
</body>
</html>
