<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('常见问题')" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p>1、问：《劳动教育课程》共有多少学时？</p>
                <p>答：“劳动教育”必修课总学分为0.5，由8学时的理论教学和24学时的劳动实践两部分构成，共32学时。</p>
                <p>2、问：《劳动教育课程》要学习多久？</p>
                <p>答：贯穿2-7学期。本课程实施对象为2020、2021级。</p>
                <p>3、问：《劳动教育课程》的理论教学包含哪些内容？</p>
                <p>答：第1学期开展“劳动课程”理论教学。2021级新生修读“云课堂”平台丁晓昌主编的“新时代大学生劳动教育”在线课程。修读流程：观看视频——完成相应的章节作业——完成在线考试。人文与艺术教育中心负责劳动理论成绩的考核和录入。</p>
                <p>4、问：《劳动教育课程》中的劳动实践教学包含哪些内容？</p>
                <p>答：校园劳动实践项目安排在第2、3学期开设，共16学时。</p>
                <p>（1）校园劳动内容，主要包括校园环境卫生、校园绿化养护、图书整理等。</p>
                <p>（2）劳动时间安排：第2、3学期采取不间断方式，积极开展校园劳动实践。</p>
                <p>教务处采取集中排课方式，校园劳动实践课程安排在周一至周五下午56节和78节。</p>
                <p>5、问：校园劳动的设计、安排、管理、指导、监督及保障机制是什么样的？</p>
                <p>答：人文与艺术教育中心负责组织教学团队，并与总务处联合设计劳动内容，教学团队根据劳动内容、劳动区域，认真组织管理各班次进行校园劳动实践。</p>
                <p>6、问：劳动实践教学的考核结果是怎样的？</p>
                <p>答：劳动实践的考核结果都为通过或不通过。</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
</body>
</html>
