<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('联系我们')" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p>1、使用过程中遇到登陆问题，请咨询网络信息中心信息化管理科。电话：025-58731542</p>
                <p>2、使用过程中遇到登陆问题，请咨询以下业务部门：</p>
                <p>人文与艺术教育中心 电话：XXXXXXXXX</p>
                <p>                QQ群：866083494</p>
                <p>                邮件：nuist@edu.cn</p>
                <p>电子与信息学院    电话：XXXXXXXXX</p>
                <p>                QQ群：866083494</p>
                <p>                邮件：nuist@edu.cn</p>
                <p>人工智能学院      电话：XXXXXXXXX</p>
                <p>                QQ群：866083494</p>
                <p>                邮件：nuist@edu.cn</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
</body>
</html>
